.Dashboard {
    margin-top: 2rem;
}

.Dashboard__graph {
    background-color: red;
    height: 15em;
}

.Dashboard__events {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
}

.Dashboard__side {
    background-color: blue;
    margin-right: 5px;
    flex-grow: 1;

    height: 100px;
}

.Dashboard__feed {
    background-color: green;
    margin-left: 5px;
    flex-grow: 2;

    height: 1000px;
}
