

#interactive {
    opacity: 0.5;
    position: relative;
}

#interactive canvas {
    position: absolute;
    left: 0;
    top: 0;
}

#interactive video {
    position: fixed;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}


.Scanner__container {
    position: relative;
    
}
.ScannerCanvas__canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

}
